body {
    background-color: rgb(218, 233, 10);
  }
     

  
  img {
    width: 30%;
    height: 30%;
    margin: 0;
    padding: 0;
  }

  img{
    width: 400px;
    height: 180px;
    background-color: #AAAAAA;
    box-shadow: 10px 5px 5px black;
  }